![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('./data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [3]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [5]:
# Let's grab just one column
heart_df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [6]:
# Grab the same column as an attribute
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [7]:
# What type is the column?
type(heart_df.age)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [8]:
# Check out the dataframe index
heart_df.age.index

RangeIndex(start=0, stop=303, step=1)

In [ ]:
# Check out the series index
heart_df.age.columns

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [ ]:
# Check out the dataframe columns

In [9]:
# Now try with the series
heart_df.age.columns

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [12]:
# Check out the dataframe values
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [13]:
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [17]:
heart_df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [18]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [19]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [24]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [22]:
heart_df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [29]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

Let's pause and interpret - any observations?

-

In [30]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [31]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [33]:
# Accessing a CSV from a url
animal_url = pd.read_csv("https://data.austintexas.gov/resource/wter-evkm.csv")
animal_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A857735,NaN,2022-05-20T09:58:00.000,2022-05-20T09:58:00.000,4600 Mueller Blvd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Australian Shepherd Mix,White/Blue Merle
1,A857728,Bonnie,2022-05-20T07:49:00.000,2022-05-20T07:49:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Cat,Neutered Male,4 years,Domestic Shorthair,Blue/White
2,A857730,NaN,2022-05-20T07:39:00.000,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Silver
3,A857729,NaN,2022-05-20T07:39:00.000,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair,Brown Tabby
4,A849247,Dewwy,2022-05-20T00:06:00.000,2022-05-20T00:06:00.000,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,6 months,Labrador Retriever Mix,Black/White

In [36]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
animal_data = pd.read_json("https://data.austintexas.gov/resource/wter-evkm.json")
animal_data.head()

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,name
0,A857735,2022-05-20 09:58:00,2022-05-20T09:58:00.000,4600 Mueller Blvd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Australian Shepherd Mix,White/Blue Merle,NaN
1,A857728,2022-05-20 07:49:00,2022-05-20T07:49:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Cat,Neutered Male,4 years,Domestic Shorthair,Blue/White,Bonnie
2,A857730,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Silver,NaN
3,A857729,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair,Brown Tabby,NaN
4,A849247,2022-05-20 00:06:00,2022-05-20T00:06:00.000,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,6 months,Labrador Retriever Mix,Black/White,Dewwy

In [38]:
# But this is only 1000 rows... website says there's 136K rows!
animal_data.shape

(1000, 12)

In [39]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
animal_df = pd.read_csv('./data/Austin_Animal_Center_Intakes_021822.csv')

In [40]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
animal_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [41]:
# Check the last 5 rows
animal_df.tail(2)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136521,A851754,NaN,02/18/2022 09:35:00 AM,February 2022,1411 Gracy Farms Lane in Austin (TX),Stray,Pregnant,Cat,Intact Female,2 years,Domestic Shorthair,Gray Tabby
136522,A851742,Storm,02/17/2022 05:32:00 PM,February 2022,Thorton Road in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Pit Bull,White/Black

In [42]:
# Check the shape
animal_df.shape

(136523, 12)

In [47]:
# Check the datatypes
animal_df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [48]:
# Check more general information on the dataframe
animal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136523 entries, 0 to 136522
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136523 non-null  object
 1   Name              95561 non-null   object
 2   DateTime          136523 non-null  object
 3   MonthYear         136523 non-null  object
 4   Found Location    136523 non-null  object
 5   Intake Type       136523 non-null  object
 6   Intake Condition  136523 non-null  object
 7   Animal Type       136523 non-null  object
 8   Sex upon Intake   136522 non-null  object
 9   Age upon Intake   136523 non-null  object
 10  Breed             136523 non-null  object
 11  Color             136523 non-null  object
dtypes: object(12)
memory usage: 12.5+ MB

In [49]:
# Check summary/descriptive statistics on the dataframe
animal_df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136523,95561,136523,136523,136523,136523,136523,136523,136522,136523,136523,136523
unique,122029,23018,95988,101,57672,6,15,5,5,53,2729,613
top,A721033,Max,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,619,64,2189,25645,94009,117672,76925,44888,23391,32018,14258

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [52]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [55]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_row = pd.DataFrame(next_row, index=[0])

new_row

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [56]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
pd.concat([animal_data][new_row], ignore_index=True)

TypeError: list indices must be integers or slices, not DataFrame

In [68]:
full_animal_data = pd.concat([animal_data,new_row], ignore_index=True)
full_animal_data.head()

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,...,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A857735,2022-05-20 09:58:00,2022-05-20T09:58:00.000,4600 Mueller Blvd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Australian Shepherd Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A857728,2022-05-20 07:49:00,2022-05-20T07:49:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Cat,Neutered Male,4 years,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A857730,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A857729,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A849247,2022-05-20 00:06:00,2022-05-20T00:06:00.000,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,6 months,Labrador Retriever Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Let's check the end to make sure we were successful!

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [67]:
# Create a new column, 'test', where every value in the col is 0
full_animal_data['test']= 0
full_animal_data.head()

TypeError: 'NoneType' object does not support item assignment

In [62]:
# Sanity check
f

But we don't need that - let's drop that column.

In [66]:
type(full_animal_data)

NoneType

In [65]:
# Drop that test column
full_animal_data = full_animal_data. ('test',axis=1,inplace=True)
type(full_animal_data)

AttributeError: 'NoneType' object has no attribute 'drop'

In [ ]:
# Sanity check

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [ ]:
# Create a new column, 'Type', from the two 'Type' columns

In [ ]:
# Sanity check

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!

In [ ]:
# Make that into a new column

In [ ]:
# Sanity check

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [ ]:
# Check which rows have an intake year greater than or equal to 2020

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020

In [ ]:
# Sanity check

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [74]:
# Find all the Stray Cats taken in during or after 2020
sick_df = full_animal_data.loc[(full_animal_data["Type"]=="Stray Cat")& (full_animal_data["Intake Condition"]=="Sick")]

KeyError: 'Type'

### Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [75]:
# Find the first 3 rows
full_animal_data.iloc[0:3]

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,...,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A857735,2022-05-20 09:58:00,2022-05-20T09:58:00.000,4600 Mueller Blvd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Australian Shepherd Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A857728,2022-05-20 07:49:00,2022-05-20T07:49:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Cat,Neutered Male,4 years,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A857730,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# Same as using head(3)
full_animal_data.head(3)

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,...,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A857735,2022-05-20 09:58:00,2022-05-20T09:58:00.000,4600 Mueller Blvd in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Australian Shepherd Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A857728,2022-05-20 07:49:00,2022-05-20T07:49:00.000,4434 Frontier Trail in Austin (TX),Stray,Sick,Cat,Neutered Male,4 years,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A857730,2022-05-20 07:39:00,2022-05-20T07:39:00.000,4434 Frontier Trail in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# Can look exactly where the 0 index is
full_animal_data.iloc[0]

animal_id                                    A857735
datetime                         2022-05-20 09:58:00
datetime2                    2022-05-20T09:58:00.000
found_location      4600 Mueller Blvd in Austin (TX)
intake_type                                    Stray
intake_condition                              Normal
animal_type                                      Dog
sex_upon_intake                              Unknown
age_upon_intake                              2 years
breed                        Australian Shepherd Mix
color                               White/Blue Merle
name                                             NaN
Animal ID                                        NaN
Name                                             NaN
DateTime                                         NaN
MonthYear                                        NaN
Found Location                                   NaN
Intake Type                                      NaN
Intake Condition                                 NaN
Animal Type                                      NaN
Sex upon Intake                                  NaN
Age upon Intake                                  NaN
Breed                                            NaN
Color                                            NaN
Name: 0, dtype: object

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [81]:
# Check the value counts for Animal Type
full_animal_data["breed"].value_counts(normalize=True).head(2)

Domestic Shorthair              0.355
Domestic Shorthair Mix          0.098
Pit Bull                        0.050
Labrador Retriever Mix          0.043
Pit Bull Mix                    0.032
                                ...
Rottweiler/Plott Hound          0.001
Carolina Dog/German Shepherd    0.001
Pit Bull/Labrador Retriever     0.001
English Bulldog Mix             0.001
Rottweiler Mix                  0.001
Name: breed, Length: 131, dtype: float64

In [ ]:
# Now check Breed

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [87]:
# Now, sort the Animal Type col
full_animal_data["Animal Type"].sort_values(ascending=False)

1000    Cat
0       NaN
1       NaN
2       NaN
3       NaN
       ...
995     NaN
996     NaN
997     NaN
998     NaN
999     NaN
Name: Animal Type, Length: 1001, dtype: object

In [91]:
# We can do this on the whole dataframe, it just needs to know what to sort by
full_animal_data.sort_values(by="breed",ascending=True)

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,...,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
410,A857039,2022-05-11 12:47:00,2022-05-11T12:47:00.000,Austin (TX),Abandoned,Normal,Cat,Intact Female,2 years,Abyssinian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,A821472,2022-05-05 15:08:00,2022-05-05T15:08:00.000,Austin (TX),Public Assist,Normal,Dog,Neutered Male,4 years,Akita,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,A856872,2022-05-09 13:25:00,2022-05-09T13:25:00.000,Brodie Street And Davis Lane in Austin (TX),Stray,Normal,Dog,Intact Female,2 months,Akita Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,A856956,2022-05-10 12:28:00,2022-05-10T12:28:00.000,5201 Ross Road in Travis (TX),Stray,Normal,Dog,Intact Female,6 months,Alaskan Husky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,A856881,2022-05-09 14:24:00,2022-05-09T14:24:00.000,600 River Street in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,American Bulldog Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,A849215,2022-04-29 16:43:00,2022-04-29T16:43:00.000,204 W Parsons in Manor (TX),Public Assist,Injured,Dog,Spayed Female,2 years,Staffordshire Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,A856355,2022-05-02 13:26:00,2022-05-02T13:26:00.000,2210 South Fm 969 in Austin (TX),Stray,Normal,Dog,Neutered Male,12 years,Standard Schnauzer Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,A856205,2022-04-29 18:53:00,2022-04-29T18:53:00.000,400 Grove Boulevard in Austin (TX),Stray,Normal,Dog,Neutered Male,6 years,Yorkshire Terrier,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,A857098,2022-05-12 00:23:00,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Dog,Spayed Female,3 years,Yorkshire Terrier Mix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.